@import "tailwindcss";

@theme {
  /* Google Erişilebilirlik (100 Puan) İçin Kontrastı Artırılmış Renkler */
  --color-klinik-turuncu: #b84311; /* Eskisi: #f26522 - Beyaz yazılar okunsun diye koyulaştırıldı */
  --color-klinik-yesil: #006e35;   /* Eskisi: #00a651 - Beyaz yazılar okunsun diye koyulaştırıldı */
  --color-klinik-koyu: #3a3a3c;
}

body {
  font-family: 'Satoshi', sans-serif;
  background-color: #ffffff;
}